@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 4000px;
}
.hero_heading {
  left: 41%;
}
.slider-dots {
  right: -6rem;
  top: 50%;
  transform: translateY(-50%);
}
.slider-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #d8d8d8;
  border-radius: 50%;
  outline: none;
}
.slider-dots li.slick-active button {
  background: #fe7865;
  width: 12px;
  height: 12px;
}
.slider-dots ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.upto {
  position: relative;
}
.upto::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 4px;
  width: 80%;
  background: #fe7865;
}
.sub-menu {
  max-height: 0;
  overflow: hidden;
}
.menu-trigger.is-open {
  color: #fe7865;
}
.menu-trigger.is-open + .sub-menu {
  max-height: 100%;
  overflow: visible;
}
.box-1 {
  position: relative;
  height: 28rem;
}
.box-1 img {
  position: absolute;
  top: -5rem;
}
.box-4 {
  position: relative;
  height: 22rem;
  margin-top: 18rem;
}
.box-4 img {
  position: absolute;
  top: -14rem;
  left: 15%;
}
.box-5 {
  position: relative;
  height: 16rem;
  width: 100%;
  margin-bottom: 12rem;
}
.box-5 img {
  position: absolute;
  bottom: -8rem;
}
.slick-slide.slick-center .inner_box {
  padding: 0 20px;
}
.slide2 {
  margin-left: -50px;
  margin-right: -50px;
}

.slick-slide.slick-center .inner_box > div {
  padding: 50px 0;
}

.slick-slide:not(.slick-center) {
  margin-top: 50px;
  margin-bottom: 50px;
}

.slick-slide .inner_box .label {
  display: none;
}

.slick-slide.slick-center .inner_box .label {
  display: block;
}
